server:
  port: 8087

spring:
  application:
    name: oauth2Consumer

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ""
            client-secret: ""
            scope:
              - openid
              - email
              - profile
